<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova encomenda disponível para a retirada. Segue os detalhe: </p>
<p>
  <strong>Produto: </strong> {{ product }} <br>
  <strong>Destinatário: </strong> {{ recipient }}
  <br>
  <strong>Endereço: </strong> {{ address.street }},
  Nº {{ address.number }} - {{ address.complement}} - {{ address.city }}, {{ address.state }}
</p>
